body {

    padding: 30px;
    background-image: url("../image/backgroundimage.jpg");
    font-size: x-large;
}

h1{
    font-family: 'Space Mono', monospace;
    font-size: xx-large;
}
.container{
    display:grid;
    grid-template-rows: 1fr 3fr 1fr 1fr ;
 
}
header{
    grid-row: 1/2;  
}
main{
    grid-row: 2/3;   
}
aside{
    grid-row: 3/4;
    background-color: lightgray;
}
footer{   
    grid-row: 4/5;
}


.skip a{
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}
.skip a:focus{
    position: absolute;
    top: 0;
    color: black;   
}

a.current{
    color: green;
}

img{
   
    width: 200px;
    height: 150px;
    padding: 10px 20px;
    border: 5px dashed #0000ff;
    margin: 10px 10px;
}
img:hover{
    width: 200px;
    height: 150px;
    padding: 20px 20px;
    border: 10px dashed #0000ff;
}


nav {
  
    background-color: pink;
    animation-name: nav;
    animation-duration: 4s;
    font-size: large;
    top:0;
    height: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

@keyframes nav {
    from {background-color:pink;}
    to {background-color: lightblue;}
    from{height: 20px;}
    to{height: 30px;}
}

nav * {
    display: inline;
}

nav li {
    margin: 20px;
}
nav li a {
    color: black;
    text-decoration: none;
}

h2{
    text-decoration: underline;
}

.blue{
    color: blue;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}



@media (min-width: 800px) {
    .flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction:row;
    }
    .container{
        display:grid;
        grid-template-rows: 1fr 3fr 1fr ;
        grid-template-columns: 3fr 1fr;
    }
    header{
        grid-row: 1/2;  
    }
    main{
        grid-row: 2/3;   
    }

    footer{   
        grid-row: 3/4;
    }
    aside{
        grid-row: 3/4;
        grid-column: 2/3;
        float: right;
    }

}

@media screen and (prefers-reduced-motion: reduce){
    nav {
        background-color: pink;
        font-size: large;
        top:0;
        height: 20px;
        display: flex;
        align-items: center;
        box-shadow: 0 0 25px 0 black;
    }
}
